* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FF5C00;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: none;
  }
  

body {
    margin: 0%;
    overflow-x: hidden;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.container {
    flex: 25%;
    padding: 3px;
}

img {
    width: 100%;
    margin: 0px 3px;
    pointer-events: none;
}
@media (max-width:900px){
    .container{
        flex: calc(100% / 3);
    }
}
@media (max-width:600px){
    .container{
        flex: calc(100% / 2);
    }
}
@media (max-width:400px){
    .container{
        flex: calc(100% / 1);
    }
}
@media print{
    html,body{
        display: none;
    }
}